<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="footer">
        <div class="info-social">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div>&copy; Nestkey private limited...</div>
        <div >
            <a href="" class="click-link">Privacy Term</a>
        </div>
    </div>

</body>

</html>