<% layout('./Layouts/boilerplate.ejs') %>
    <div class="row">
        <div class="col-8 offset-2"><br>
            <h1>Add New List</h1>
            <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title :</label>
                    <input type="text" class="form-control" id="title" aria-describedby="emailHelp" name="list[title]"
                        placeholder="Enter Title" required>
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Please insert title</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description :</label>
                    <textarea class="form-control" id="description" name="list[description]"
                        placeholder="Enter Description" required>
                    </textarea>
                    <div class="invalid-feedback">Please insert description</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image :</label>
                    <input type="file" class="form-control" id="image" name="list[image]">
                    <div class="invalid-feedback">Please insert Image</div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price :</label>
                        <input type="text" class="form-control" id="price" name="list[price]"
                            placeholder="Enter the Price" required>
                        <div class="invalid-feedback">Please Enter Price</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country :</label>
                        <input type="text" class="form-control" id="country" name="list[country]"
                            placeholder="Enter the country" required>
                        <div class="invalid-feedback">Please Enter Countery</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location :</label>
                    <input type="text" class="form-control" id="location" name="list[location]"
                        placeholder="Enter the Location" required>
                    <div class="invalid-feedback">Please Enter Location</div>
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form><br><br>
        </div>
    </div>